<h3>Listado de heroes</h3>

<div *ngIf="lastHeroDeleted" else nothinWasDeleted>
  <h3>Heroe borrado<span class="text-danger"> {{ lastHeroDeleted }} </span></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>


<button *ngIf="heroes.length > 0" (click)="deleteLastHero()" class="btn btn-outline-danger">
  Borrar último heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroes" class="list-group-item">
    <strong>{{ name }} </strong>
  </li>
</ul>
